@charset "UTF-8";
/* ------------------------------------------------------ */
/* コード */
div.code_block {
  position: relative;
  background: #eeeeee;
  margin: 8px 20px 16px 20px;
  padding: 8px 8px;
}
div.code_block pre {
  margin: 8px 12px 8px 12px;
  padding: 0px;
}

pre.code {
  font-size: 9pt;
  font-family: "Courier New", monospace;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #eeeeee;
  line-height: 120%;
}
pre.comment {
  font-size: 9pt;
  color: #888;
  margin: 0px;
  padding: 0px;
}

/* ------------------------------------------------------ */
/* コードブロックの強調表示に対応 */
table.codeblock {
  border-style: dashed;
  table-layout: fixed;
  width: auto;
}
table.codeblock td {
  vertical-align: top;
  border-style: dashed;
  border-color: #cccccc;
  font-family: "Courier New", monospace;
}
table.codeblock td.gutter {
  width: 50px;
  min-width: 50px;
  text-align: right;
  background-color: #eeeeee;
  color: #aaaaaa;
  border-style: dashed solid dashed dashed;
}
table.codeblock td.code {
  text-align: left;
}
table.codeblock pre {
  margin: 0px;
  padding: 0px;
  font-family: inherit;
  white-space: pre-wrap;
}

DIV.codeblock {
  white-space: pre-wrap;
  overflow-x: auto;
  /*
    width: 800px;
  */
  margin: 0px;
  padding: 0px;
}
DIV.codeblock br {
  display: none;
}

DIV.codeblock .hll, PRE.code .hll {
  background-color: #ffffcc;
}
DIV.codeblock .c, PRE.code .c {
  /* Comment */
  color: #408090;
  font-style: italic;
}
DIV.codeblock .esc, PRE.code .esc {
  /* Escape */
  font-weight: bold;
}
DIV.codeblock .err, PRE.code .err {
  /* Error */
  border: 1px solid #ff0000;
}
DIV.codeblock .k, PRE.code .k {
  /* Keyword */
  color: #007020;
  font-weight: bold;
}
DIV.codeblock .o, PRE.code .o {
  /* Operator */
  color: #666666;
}
DIV.codeblock .ch, PRE.code .ch {
  /* Comment.Hashbang */
  color: #408090;
  font-style: italic;
}
DIV.codeblock .cm, PRE.code .cm {
  /* Comment.Multiline */
  color: #408090;
  font-style: italic;
}
DIV.codeblock .cp, PRE.code .cp {
  /* Comment.Preproc */
  color: #007020;
}
DIV.codeblock .cpf, PRE.code .cpf {
  /* Comment.PreprocFile */
  color: #007020;
}
DIV.codeblock .c1, PRE.code .c1 {
  /* Comment.Single */
  color: #408090;
  font-style: italic;
}
DIV.codeblock .cs, PRE.code .cs {
  /* Comment.Special */
  color: #408090;
  background-color: #fff0f0;
}
DIV.codeblock .gd, PRE.code .gd {
  /* Generic.Deleted */
  color: #a00000;
}
DIV.codeblock .ge, PRE.code .ge {
  /* Generic.Emph */
  font-style: italic;
}
DIV.codeblock .gr, PRE.code .gr {
  /* Generic.Error */
  color: #ff0000;
}
DIV.codeblock .gh, PRE.code .gh {
  /* Generic.Heading */
  color: #000080;
  font-weight: bold;
}
DIV.codeblock .gi, PRE.code .gi {
  /* Generic.Inserted */
  color: #00a000;
}
DIV.codeblock .go, PRE.code .go {
  /* Generic.Output */
  color: #303030;
}
DIV.codeblock .gp, PRE.code .gp {
  /* Generic.Prompt */
  color: #c65d09;
  font-weight: bold;
}
DIV.codeblock .gs, PRE.code .gs {
  /* Generic.Strong */
  font-weight: bold;
}
DIV.codeblock .gu, PRE.code .gu {
  /* Generic.Subheading */
  color: #800080;
  font-weight: bold;
}
DIV.codeblock .gt, PRE.code .gt {
  /* Generic.Traceback */
  color: #0040d0;
}
DIV.codeblock .kc, PRE.code .kc {
  /* Keyword.Constant */
  color: #007020;
  font-weight: bold;
}
DIV.codeblock .kd, PRE.code .kd {
  /* Keyword.Declaration */
  color: #007020;
  font-weight: bold;
}
DIV.codeblock .kn, PRE.code .kn {
  /* Keyword.Namespace */
  color: #007020;
  font-weight: bold;
}
DIV.codeblock .kp, PRE.code .kp {
  /* Keyword.Pseudo */
  color: #007020;
}
DIV.codeblock .kr, PRE.code .kr {
  /* Keyword.Reserved */
  color: #007020;
  font-weight: bold;
}
DIV.codeblock .kt, PRE.code .kt {
  /* Keyword.Type */
  color: #902000;
}
DIV.codeblock .m, PRE.code .m {
  /* Literal.Number */
  color: #208050;
}
DIV.codeblock .s, PRE.code .s {
  /* Literal.String */
  color: #4070a0;
}
DIV.codeblock .na, PRE.code .na {
  /* Name.Attribute */
  color: #4070a0;
}
DIV.codeblock .nb, PRE.code .nb {
  /* Name.Builtin */
  color: #007020;
}
DIV.codeblock .nc, PRE.code .nc {
  /* Name.Class */
  color: #0e84b5;
  font-weight: bold;
}
DIV.codeblock .no, PRE.code .no {
  /* Name.Constant */
  color: #60add5;
}
DIV.codeblock .nd, PRE.code .nd {
  /* Name.Decorator */
  color: #555555;
  font-weight: bold;
}
DIV.codeblock .ni, PRE.code .ni {
  /* Name.Entity */
  color: #d55537;
  font-weight: bold;
}
DIV.codeblock .ne, PRE.code .ne {
  /* Name.Exception */
  color: #007020;
}
DIV.codeblock .nf, PRE.code .nf {
  /* Name.Function */
  color: #06287e;
}
DIV.codeblock .nl, PRE.code .nl {
  /* Name.Label */
  color: #002070;
  font-weight: bold;
}
DIV.codeblock .nn, PRE.code .nn {
  /* Name.Namespace */
  color: #0e84b5;
  font-weight: bold;
}
DIV.codeblock .nt, PRE.code .nt {
  /* Name.Tag */
  color: #062873;
  font-weight: bold;
}
DIV.codeblock .nv, PRE.code .nv {
  /* Name.Variable */
  color: #bb60d5;
}
DIV.codeblock .ow, PRE.code .ow {
  /* Operator.Word */
  color: #007020;
  font-weight: bold;
}
DIV.codeblock .w, PRE.code .w {
  /* Text.Whitespace */
  color: #bbbbbb;
}
DIV.codeblock .mb, PRE.code .mb {
  /* Literal.Number.Bin */
  color: #208050;
}
DIV.codeblock .mf, PRE.code .mf {
  /* Literal.Number.Float */
  color: #208050;
}
DIV.codeblock .mh, PRE.code .mh {
  /* Literal.Number.Hex */
  color: #208050;
}
DIV.codeblock .mi, PRE.code .mi {
  /* Literal.Number.Integer */
  color: #208050;
}
DIV.codeblock .mo, PRE.code .mo {
  /* Literal.Number.Oct */
  color: #208050;
}
DIV.codeblock .sb, PRE.code .sb {
  /* Literal.String.Backtick */
  color: #4070a0;
}
DIV.codeblock .sc, PRE.code .sc {
  /* Literal.String.Char */
  color: #4070a0;
}
DIV.codeblock .sd, PRE.code .sd {
  /* Literal.String.Doc */
  color: #4070a0;
  font-style: italic;
}
DIV.codeblock .s2, PRE.code .s2 {
  /* Literal.String.Double */
  color: #4070a0;
}
DIV.codeblock .se, PRE.code .se {
  /* Literal.String.Escape */
  color: #4070a0;
  font-weight: bold;
}
DIV.codeblock .sh, PRE.code .sh {
  /* Literal.String.Heredoc */
  color: #4070a0;
}
DIV.codeblock .si, PRE.code .si {
  /* Literal.String.Interpol */
  color: #70a0d0;
  font-style: italic;
}
DIV.codeblock .sx, PRE.code .sx {
  /* Literal.String.Other */
  color: #c65d09;
}
DIV.codeblock .sr, PRE.code .sr {
  /* Literal.String.Regex */
  color: #235388;
}
DIV.codeblock .s1, PRE.code .s1 {
  /* Literal.String.Single */
  color: #4070a0;
}
DIV.codeblock .ss, PRE.code .ss {
  /* Literal.String.Symbol */
  color: #517918;
}
DIV.codeblock .bp, PRE.code .bp {
  /* Name.Builtin.Pseudo */
  color: #007020;
}
DIV.codeblock .vc, PRE.code .vc {
  /* Name.Variable.Class */
  color: #bb60d5;
}
DIV.codeblock .vg, PRE.code .vg {
  /* Name.Variable.Global */
  color: #bb60d5;
}
DIV.codeblock .vi, PRE.code .vi {
  /* Name.Variable.Instance */
  color: #bb60d5;
}
DIV.codeblock .il, PRE.code .il {
  /* Literal.Number.Integer.Long */
  color: #208050;
}
