@charset "UTF-8";
/* ------------------------------------------------------ */
/* ボディ */
body {
  background-color: #ffffff;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0 0;
  margin: 20px auto 50px auto;
  padding: 0px;
  font-size: 10.5pt;
  font-weight: normal;
  line-height: 1.5em;
  position: relative;
  left: 0px;
  top: 0px;
  overflow: auto;
}
body:lang(ja) {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Lato", sans-serif !important;
}
body:lang(en) {
  font-family: "Lato", "Helvetica Neue", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}
body:lang(ja) {
  letter-spacing: 1px;
}
body:lang(en) {
  letter-spacing: 0px;
}

/* ------------------------------------------------------ */
/* パラグラフ */
p {
  position: relative;
  margin: 8px 12px 0px 14px;
  padding: 0px;
}
p.center {
  text-align: center;
}
p.left {
  text-align: left;
}
p.right {
  text-align: right;
}

/* pre */
pre {
  margin: 8px 12px 0px 14px;
  padding: 0px;
}

/* ------------------------------------------------------ */
/* リスト */
ul {
  margin: 24px 12px 27px 3em;
  padding: 0px;
}

ol {
  margin: 8px 12px 0px 3em;
  padding: 0px;
}

dl {
  margin: 8px 12px 0px 2em;
  padding: 0px;
}

li {
  margin: 5px 0px 0px 0px;
  padding: 0px;
}
li ul, li ol, li dl {
  margin: 0px 0px 12px 1em;
}

dt {
  font-weight: bold;
  margin: 8px 0px 0px 0px;
}

dd {
  margin: 4px 0px 0px 1em;
}

/* ------------------------------------------------------ */
/* テーブル */
table {
  border-style: solid;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #b0b0b0;
  margin: 15px 12px 30px 14px;
  padding: 0px;
  line-height: 1.3em;
}
table table {
  border-width: 1px;
  margin: 15px 12px 30px 14px;
  padding: 0px;
  line-height: 1.3em;
}

thead {
  background-color: #eeeeee;
}

th {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding: 4px 8px 4px 8px;
  white-space: nowrap;
}

td {
  border-style: solid;
  border-width: 1px;
  padding: 4px 8px 4px 8px;
}
td .nowrap_left {
  white-space: nowrap;
  text-align: left;
}
td .nowrap_center {
  white-space: nowrap;
  text-align: center;
}
td .nowrap_right {
  white-space: nowrap;
  text-align: right;
}

/* ------------------------------------------------------ */
/* 強調 */
/* ------------------------------------------------------ */
/* リンク */
a {
  text-decoration: none;
  color: #007cc4;
}
a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------------ */
/* 画像 */
img {
  vertical-align: bottom;
  border-width: 0px;
  margin: 15px 0px 0px;
  max-width: 100%;
}
img[width], img[height] {
  max-width: none;
}

/* ------------------------------------------------------ */
/* input */
input {
  font-size: 12px;
  font-weight: normal;
  color: #212121;
  border-color: #aaaaaa;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 1px 3px 2px 0px;
  padding: 5px;
}
input[type=button], input[type=submit] {
  background-color: #eeeeee;
  min-height: 32px;
}
input[type=button]:hover, input[type=submit]:hover {
  border-color: #666666;
}

/* ------------------------------------------------------ */
