@charset "UTF-8";
/* ------------------------------------------------------ */
/* 本文 */
div.body_content {
  max-width: auto;
  margin: 0px 48px 0px 48px;
  overflow: visible;
}
div.body_content:lang(ja) {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Lato", sans-serif !important;
}
div.body_content:lang(en) {
  font-family: "Lato", "Helvetica Neue", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

@page {
  width: 56em;
}
/* ------------------------------------------------------ */
/* インデント下げテキスト */
div.text, div.text_separate {
  position: relative;
  margin: 0px 0px 0px 0em;
  padding-right: 0px;
  color: #212121;
  padding-left: 1em;
}

div.text_separate {
  margin-bottom: 32px;
}

/* 見出し関連 */
div.pagetitle {
  font-size: 28pt;
  font-weight: normal;
  line-height: 1.2em;
  color: #757575;
  margin: 50px 0px 36px 0px;
  padding: 0px;
  background-color: #ffffff;
  border-width: 0px;
  border-style: none;
  border-color: #7fcced;
  page-break-before: always;
}

h1 {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.2em;
  color: #757575;
  margin: 30px 0px 10px 0px;
  padding: 7px 3px;
  background-color: #ffffff;
  border-width: 0px 0px 7px 0px;
  border-style: none none solid none;
  border-color: #7fcced;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.2em;
  color: #757575;
  margin: 30px 0px 10px 0px;
  padding: 3px;
  background-color: #ffffff;
  border-width: 0px 0px 5px 0px;
  border-style: none none solid none;
  border-color: #d3d3d3;
}

h3 {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.2em;
  color: #757575;
  margin: 30px 0px 10px 0px;
  padding: 3px;
  background-color: #ffffff;
  border-width: 0px 0px 3px 0px;
  border-style: none none solid none;
  border-color: #d3d3d3;
}

h4 {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2em;
  color: #212121;
  margin: 30px 0px 10px 0px;
  padding: 3px;
  background-color: #ffffff;
  border-width: 0px 0px 2px 0px;
  border-style: none none solid none;
  border-color: #d3d3d3;
}

h5 {
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.2em;
  color: #212121;
  margin: 20px 0px 10px 0px;
  padding: 3px;
  background-color: #ffffff;
  border-width: 0px 0px 1px 0px;
  border-style: none none solid none;
  border-color: #d3d3d3;
}

h6 {
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.2em;
  color: #212121;
  margin: 20px 0px 10px 0px;
  padding: 3px;
  background-color: #ffffff;
  border-width: 0px;
  border-style: none;
  border-color: #d3d3d3;
}

h1.guideline, h1.general {
  margin-left: 0px !important;
}

h2.guideline, h2.general {
  margin-left: 0px !important;
}

h3.guideline, h3.general {
  margin-left: 0px !important;
}

h4.guideline, h4.general {
  margin-left: 0px !important;
}

h5.guideline, h5.general {
  margin-left: 0px !important;
}

h6.guideline, h6.general {
  margin-left: 0px !important;
}

h2.history {
  padding-top: 10px;
}

div.text h3, div.text_separate h3, div.text h4, div.text_separate h4, div.text h5, div.text_separate h5, div.text h6, div.text_separate h6 {
  padding-top: 10px;
  margin-left: 0px;
}

/*
strong
{
  color             : red;
}
*/
/* ------------------------------------------------------ */
/* 図表番号 */
DIV.table, DIV.figure, DIV.code {
  position: relative;
  margin: 24px 0px 4px 14px;
  font-weight: bold;
  font-size: 85%;
  color: #212121;
}

/* ------------------------------------------------------ */
/* 文中コード */
SPAN.code {
  font-family: "Courier New", monospace;
  font-style: normal;
}

SPAN.attribute {
  font-family: "Courier New", monospace;
  font-style: italic;
}

/* ------------------------------------------------------ */
/* 文字修飾 */
SPAN.red {
  color: red;
}

SPAN.bold, SPAN.strong {
  font-weight: bold;
}

SPAN.italic {
  font-style: italic;
}

/* ------------------------------------------------------ */
/* UI 説明 */
OL.ui {
  list-style-type: upper-alpha;
}

/* ------------------------------------------------------ */
/* 旧スタイルの注意事項 */
P.warning {
  background: #FFFF99;
  color: #212121;
  border: solid 1px black;
  padding: 1em;
}

P.notice {
  background: #CCFFFF;
  color: #212121;
  border: solid 1px black;
  padding: 1em;
}

/* ------------------------------------------------------ */
/* 表 */
TABLE.table, TABLE.wrapped {
  text-align: left;
  font-size: 10pt;
  font-weight: normal;
  color: #212121;
  position: relative;
  margin: 15px 12px 30px 14px;
  border: 1px solid #b0b0b0;
  border-collapse: collapse;
  padding: 5px;
  width: auto;
}
TABLE.table TH, TABLE.wrapped TH {
  /* DOCSTD-538
    text-align        : center;
    font-weight       : normal;
  */
  text-align: left;
  font-weight: bold;
  color: #212121;
  background-color: #eeeeee;
  border: 1px solid #b0b0b0;
  white-space: normal;
  vertical-align: top;
}
TABLE.table TH.header, TABLE.wrapped TH.header {
  width: 128px;
}
TABLE.table TD, TABLE.wrapped TD {
  text-align: left;
  font-weight: normal;
  color: #212121;
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  line-height: 1.3em;
  vertical-align: top;
}
TABLE.table TD.header, TABLE.wrapped TD.header {
  font-weight: bold;
  background-color: #eeeeee;
  width: 128px;
}
TABLE.table TD.left, TABLE.wrapped TD.left {
  text-align: left;
}
TABLE.table TD.right, TABLE.wrapped TD.right {
  text-align: right;
}
TABLE.table TD.center, TABLE.wrapped TD.center {
  text-align: center;
}
TABLE.table TD.top, TABLE.wrapped TD.top {
  vertical-align: top;
}
TABLE.table TD.middle, TABLE.wrapped TD.middle {
  vertical-align: middle;
}
TABLE.table TD.bottom, TABLE.wrapped TD.bottom {
  vertical-align: bottom;
}
TABLE.table TD.nowrap, TABLE.wrapped TD.nowrap {
  white-space: nowrap;
}

/* 表内 */
table.table th p, table.wrapped th p,
table.table td p, table.wrapped td p {
  margin-left: 0px;
}
table.table th p:first-child, table.wrapped th p:first-child,
table.table td p:first-child, table.wrapped td p:first-child {
  margin-top: 0px;
}
table.table th img, table.wrapped th img,
table.table td img, table.wrapped td img {
  max-width: none;
}
table.table th img:first-child, table.wrapped th img:first-child,
table.table td img:first-child, table.wrapped td img:first-child {
  margin-top: 0px;
}
table.table th ul, table.wrapped th ul,
table.table td ul, table.wrapped td ul {
  margin: 4px 1em 4px 1em;
  padding: 0px 0px 0px 1em;
}

/* 固定幅 */
table.fixed-table {
  table-layout: fixed;
  width: 0px;
}

/* ------------------------------------------------------ */
/* 箇条書き */
ol > li {
  list-style-type: decimal;
}
ol ol > li {
  list-style-type: lower-alpha;
}
ol ol ol > li {
  list-style-type: lower-roman;
}
ol ol ol ol > li {
  list-style-type: decimal;
}
ol ol ol ol ol > li {
  list-style-type: lower-alpha;
}
ol ol ol ol ol ol > li {
  list-style-type: lower-roman;
}

ul {
  list-style: disc;
  padding: 0px;
}
ul.none {
  list-style: none;
}
ul ul {
  list-style: disc;
  margin-top: 12px;
}
ul ul > li {
  list-style-type: disc;
}
ul ul ul {
  list-style: disc;
}
ul ul ul > li {
  list-style-type: disc;
}
ul ul ul ul {
  list-style: disc;
}
ul ul ul ul > li {
  list-style-type: disc;
}
ul > li {
  list-style-type: disc;
}

li:first-child {
  margin-top: 0px;
}
li > ul {
  margin-top: 8px;
}
li > p {
  margin: 4px 0px 4px 0px;
  padding: 0px 0px 0px 0px;
}

/* Info/Note/Warning/Tip マクロ*/
/* 注意事項 */
div.warning {
  background-color: #eadb52;
  border-style: solid;
  border-width: 4px;
  border-color: #eadb52;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: auto;
  color: #212121;
  margin: 30px 20px 30px 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.warning_left {
  float: left;
  margin: 0px 0px 0px 1em;
  font-weight: bold;
}

div.warning_right:lang(ja) {
  margin-left: 4em;
}
div.warning_right:lang(en) {
  margin-left: 7em;
}
div.warning_right > p {
  margin-left: 4px;
}
div.warning_right > p:first-child {
  margin-top: 0px;
}
div.warning_right > ul:first-child {
  margin-top: 0px;
}

table.table td div.warning_right p, table.wrapped td div.warning_right p {
  margin-left: 0px;
}

/* 補足情報 */
div.notice {
  background-color: #d3d3d3;
  border-style: solid;
  border-width: 4px;
  border-color: #d3d3d3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: auto;
  color: #212121;
  margin: 30px 20px 30px 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.notice_left {
  float: left;
  margin: 0px 0px 0px 1em;
  font-weight: bold;
}

div.notice_right:lang(ja) {
  margin-left: 4em;
}
div.notice_right:lang(en) {
  margin-left: 5em;
}
div.notice_right > p {
  margin-left: 4px;
}
div.notice_right > p:first-child {
  margin-top: 0px;
}
div.notice_right > ul:first-child {
  margin-top: 0px;
}

table.table td div.notice_right p, table.wrapped td div.notice_right p {
  margin-left: 0px;
}

/* Tipマクロ */
div.tip {
  background-color: #d3d3d3;
  border-style: solid;
  border-width: 4px;
  border-color: #d3d3d3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: auto;
  color: #212121;
  margin: 30px 20px 30px 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.tip_left {
  float: left;
  margin: 0px 0px 0px 1em;
  font-weight: bold;
}

div.tip_right:lang(ja) {
  margin-left: 4em;
}
div.tip_right:lang(en) {
  margin-left: 5em;
}
div.tip_right > p {
  margin-left: 4px;
}
div.tip_right > p:first-child {
  margin-top: 0px;
}
div.tip_right > ul:first-child {
  margin-top: 0px;
}

table.table td div.tip_right p, table.wrapped td div.tip_right p {
  margin-left: 0px;
}

/* Infoマクロ */
div.info_new {
  background-color: #d3d3d3;
  border-style: solid;
  border-width: 4px;
  border-color: #d3d3d3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: auto;
  color: #212121;
  margin: 30px 20px 30px 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.info_new_left {
  float: left;
  margin: 0px 0px 0px 1em;
  font-weight: bold;
}

div.info_new_right:lang(ja) {
  margin-left: 4em;
}
div.info_new_right:lang(en) {
  margin-left: 5em;
}
div.info_new_right > p {
  margin-left: 4px;
}
div.info_new_right > p:first-child {
  margin-top: 0px;
}
div.info_new_right > ul:first-child {
  margin-top: 0px;
}

table.table td div.info_new_right p, table.wrapped td div.info_new_right p {
  margin-left: 0px;
}

/* Noteマクロ */
div.note_new {
  background-color: #eadb52;
  border-style: solid;
  border-width: 4px;
  border-color: #eadb52;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: auto;
  color: #212121;
  margin: 30px 20px 30px 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.note_new_left {
  float: left;
  margin: 0px 0px 0px 1em;
  font-weight: bold;
}

div.note_new_right:lang(ja) {
  margin-left: 4em;
}
div.note_new_right:lang(en) {
  margin-left: 5em;
}
div.note_new_right > p {
  margin-left: 4px;
}
div.note_new_right > p:first-child {
  margin-top: 0px;
}
div.note_new_right > ul:first-child {
  margin-top: 0px;
}

table.table td div.note_new_right p, table.wrapped td div.note_new_right p {
  margin-left: 0px;
}

/* Warningマクロ */
div.warn_new {
  background-color: #ff9e6b;
  border-style: solid;
  border-width: 4px;
  border-color: #ff9e6b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: auto;
  color: #212121;
  margin: 30px 20px 30px 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.warn_new_left {
  float: left;
  margin: 0px 0px 0px 1em;
  font-weight: bold;
}

div.warn_new_right:lang(ja) {
  margin-left: 4em;
}
div.warn_new_right:lang(en) {
  margin-left: 7em;
}
div.warn_new_right > p {
  margin-left: 4px;
}
div.warn_new_right > p:first-child {
  margin-top: 0px;
}
div.warn_new_right > ul:first-child {
  margin-top: 0px;
}

table.table td div.warn_new_right p, table.wrapped td div.warn_new_right p {
  margin-left: 0px;
}

/* ------------------------------------------------------ */
/* 水平線 */
hr {
  border-top-style: solid;
  border-top-width: 0px;
  border-top-color: #ffffff;
  border-right-style: solid;
  border-right-width: 0px;
  border-right-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #666666;
  border-left-style: solid;
  border-left-width: 0px;
  border-left-color: #ffffff;
}

/* ------------------------------------------------------ */
/* 表示切り替え用 */
div.openitem, div.closeitem {
  text-align: left;
  font-weight: normal;
  color: #212121;
  position: relative;
  display: block;
  margin: 0px;
}

div.closeitem {
  display: none;
}

/* ------------------------------------------------------ */
/* ガイドライン項目表示用 */
table.guideline {
  text-align: left;
  font-size: 10pt;
  font-weight: normal;
  position: relative;
  margin: 16px 12px 16px 14px;
  border-style: solid;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #b0b0b0;
  padding: 0px;
  width: auto;
  line-height: 1.3em;
}
table.guideline th {
  text-align: left;
  font-weight: normal;
  color: #212121;
  background-color: #eeeeee;
  border: 1px solid #b0b0b0;
  white-space: normal;
  padding: 4px 8px 4px 8px;
}
table.guideline th.header {
  border: 1px solid #b0b0b0;
  width: 128px;
}
table.guideline td {
  text-align: left;
  font-weight: normal;
  color: #212121;
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  white-space: normal;
  padding: 4px 8px 4px 8px;
}
table.guideline td.header {
  width: 128px;
}
table.guideline ol {
  position: relative;
  left: 8px;
  margin: 1px 8px 1px 16px;
}

div.itemtext {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  position: relative;
  left: 0px;
  margin: 1px 0px 1px 0px;
}
div.itemtext p {
  margin: 0px;
}

div.itemindent {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  position: relative;
  left: 24px;
  margin: 1px 16px 1px 0px;
}

table.itemintable {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  color: #212121;
  background-color: #ffffff;
  position: relative;
  margin: 1px 16px 2px 8px;
  border: 0px none;
  border-collapse: collapse;
  padding: 0px;
}
table.itemintable th {
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  color: #212121;
  background-color: #ffffff;
  margin: 0px;
  border: 0px none;
  padding: 1px 8px 1px 1px;
  /*
    min-width         : 24px;
  */
  white-space: normal;
}
table.itemintable td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  color: #212121;
  background-color: #ffffff;
  margin: 0px;
  border: 0px none;
  padding: 1px 8px 1px 1px;
}

table.itemindent {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  color: #212121;
  background-color: #ffffff;
  position: relative;
  margin: 1px 16px 2px 24px;
  border: 0px none;
  border-collapse: collapse;
  padding: 0px;
}
table.itemindent th {
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  color: #212121;
  background-color: #ffffff;
  margin: 0px;
  border: 0px none;
  padding: 1px 8px 1px 1px;
  min-width: 24px;
  white-space: normal;
}
table.itemindent td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  color: #212121;
  background-color: #ffffff;
  margin: 0px;
  border: 0px none;
  padding: 1px 8px 1px 1px;
}

ul.itemlist {
  position: relative;
  left: 8px;
  margin: 1px 8px 1px 16px;
}

div.marginaltext {
  position: relative;
  margin: 4px 16px 4px 24px;
}
div.marginaltext p {
  margin: 0px;
}

/* ------------------------------------------------------ */
/* 解説書とガイドライン項目の区切り線 */
hr.borderline {
  width: 100%;
  height: 5px;
  border-width: 5px;
  border-style: double none none none;
  border-color: gray;
  margin: 16px 0px 8px 0px;
}

/* パンくずリスト */
div.breadcrumb {
  font-size: 85%;
  color: #666;
  background-color: #ffffff;
  width: 100%;
}

div.breadcrumb_bottom {
  font-size: 85%;
  color: #666;
  background-color: #ffffff;
  width: 100%;
}

/* 前後ページへのリンク */
div.page_navigation {
  margin: 0px;
  border-style: solid none none none;
  border-width: 1px;
  border-color: #c0c0c0;
  padding-top: 4px;
  text-align: center;
}

div.page_navigation_top {
  margin: 0px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #c0c0c0;
  padding-top: 4px;
  text-align: center;
}

div.page_navigation a,
div.page_navigation_top a {
  color: #007cc4;
}

table.page_navi_root {
  width: 100%;
  border-style: none;
  border-width: 0px;
  margin: 0px;
}

table.page_navi_root td {
  border-style: none;
  border-width: 0px;
}

td.page_navi_left {
  width: 50%;
  text-align: left;
}

td.page_navi_right {
  width: 50%;
  text-align: right;
}

td.page_navi_bottom {
  text-align: center;
}

/* 非表示ブロック */
div.noconvert, div.no_convert {
  border-style: solid;
  border-width: 2px;
  border-color: #cceeff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 4px;
}
div.noconvert:before, div.no_convert:before {
  font-style: normal;
  font-weight: bold;
  color: #999999;
  background-color: #ffffcc;
  border-style: dotted;
  border-color: #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 4px;
  display: block;
  text-align: center;
}
div.noconvert:before:lang(ja), div.no_convert:before:lang(ja) {
  content: "非表示ブロック";
}
div.noconvert:before:lang(en), div.no_convert:before:lang(en) {
  content: "HIDDEN BLOCK";
}

/* ステータスマクロ */
span.status_macro_base {
  display: inline-block;
  background-color: #cccccc;
  border: 1px solid #cccccc;
  color: #333333;
  padding: 3px 5px 2px;
  min-width: 76px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

span.status_macro_Grey {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #333333;
}

span.status_macro_outline_Grey {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #333333;
}

span.status_macro_Red {
  background-color: #d04437;
  border-color: #d04437;
  color: #ffffff;
}

span.status_macro_outline_Red {
  background-color: #ffffff;
  border-color: #f8d3d1;
  color: #d04437;
}

span.status_macro_Yellow {
  background-color: #ffd351;
  border-color: #ffd351;
  color: #594300;
}

span.status_macro_outline_Yellow {
  background-color: #ffffff;
  border-color: #ffe28c;
  color: #594300;
}

span.status_macro_Green {
  background-color: #14892c;
  border-color: #14892c;
  color: #ffffff;
}

span.status_macro_outline_Green {
  background-color: #ffffff;
  border-color: #b2d8b9;
  color: #14892c;
}

span.status_macro_Blue {
  background-color: #4a6785;
  border-color: #4a6785;
  color: #ffffff;
}

span.status_macro_outline_Blue {
  background-color: #ffffff;
  border-color: #e4e8ed;
  color: #4a6785;
}

/* ページツリーマクロ */
ul.PageTree ul {
  margin-top: 8px;
  margin-bottom: 0px;
}

/* 画像の寄せに対応 */
.image-left-wrapper {
  float: left;
  margin: 0px 10px 10px 0px;
}

.image-center-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.image-right-wrapper {
  float: right;
  margin: 0px 0px 10px 10px;
}

/* 2015/03/05 TableCell Highlighted */
table.table th.highlight-grey, table.table td.highlight-grey, table.wrapped th.highlight-grey, table.wrapped td.highlight-grey {
  background-color: #f0f0f0;
}
table.table th.highlight-red, table.table td.highlight-red, table.wrapped th.highlight-red, table.wrapped td.highlight-red {
  background-color: #ffe7e7;
}
table.table th.highlight-green, table.table td.highlight-green, table.wrapped th.highlight-green, table.wrapped td.highlight-green {
  background-color: #ddfade;
}
table.table th.highlight-blue, table.table td.highlight-blue, table.wrapped th.highlight-blue, table.wrapped td.highlight-blue {
  background-color: #e0f0ff;
}
table.table th.highlight-yellow, table.table td.highlight-yellow, table.wrapped th.highlight-yellow, table.wrapped td.highlight-yellow {
  background-color: #ffffdd;
}

/* 目次マクロ */
ul.macro_toc ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* 書式設定済みマクロ */
/* パネルマクロ */
div.panel {
  /*
    background-color: #f0f0f0;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
  */
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 30px 20px 30px 20px;
}
div.panel .panelHeader {
  /*
    border-bottom-color: #f0f0f0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  */
  border-bottom-color: #d3d3d3;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #333;
  line-height: 1em;
  margin-bottom: 0;
  padding: 10px 10px 5px;
  text-align: left;
}

div.panelContent {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0 10px;
  background-color: transparent;
}

div.panelHeader {
  /*
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
  */
  background-color: #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
}

div.preformatted {
  /*
    background-color: #fff;
  */
  background-color: #d3d3d3;
  overflow: auto;
}

/* 展開可能マクロ */
.expand-control {
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.expand-control-icon {
  width: 20px;
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 0;
  height: 16px;
  min-width: 16px;
  text-align: left;
  text-indent: -9999em;
  vertical-align: text-bottom;
}

.expanded-icon {
  background-image: url("../img/icon_folder_open.png");
}

.collapsed-icon {
  background-image: url("../img/icon_folder_close.png");
}

.expand-control-text {
  color: #3b73af;
  vertical-align: top;
}
.expand-control-text:hover {
  text-decoration: underline;
}

.expand-content {
  margin: 0 0 10px 20px;
}

.expand-hidden {
  display: none;
  opacity: 0;
}

/* 関連リンク */
div.related_links {
  margin-top: 24px;
}
div.related_links div.panel {
  background-color: #ddfade;
  border: 1px solid #ddfade;
}
div.related_links div.panel .panelHeader {
  border-bottom-color: #ddfade;
}
div.related_links div.panelContent ul:first-child {
  margin-top: 0px;
}
div.related_links div.panelHeader {
  background-color: #ddfade;
  border-bottom: 1px solid #ddfade;
}

/* DOCSTD-551 */
/*
.permalink
{
  display: inline-block;
  font-size: 6pt;
  font-weight: normal;
  line-height: 1em;
  margin: 0px 0px 0px 4px;
  vertical-align: top;

  a:hover
  {
    text-decoration: none;
  }
}
*/
/* Flowchartマクロ*/
div.flowchart-inline, div.flowchart-svg-inline {
  display: inline-block;
}
div.flowchart-block, div.flowchart-svg-block {
  display: block;
}

/* 丸数字 */
span.circled_number {
  background-color: #66c9ff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  display: inline-block;
  font-family: "meiryo-ui","meiryo","メイリオ", Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 21px;
  line-height: 20px;
  margin: 0px 4px;
  padding: 3px 0px 0px 1px;
  text-align: center;
  vertical-align: middle;
  width: 23px;
}

/* ページレイアウト */
div.layout-base {
  display: table;
  width: 100%;
}
div.layout-base div.layout-section {
  display: table-row;
}
div.layout-base div.layout-section.two_left_sidebar div.layout-cell:nth-child(1) {
  width: 30%;
}
div.layout-base div.layout-section.two_right_sidebar div.layout-cell:nth-child(2) {
  width: 30%;
}
div.layout-base div.layout-section.three_with_sidebars div.layout-cell:nth-child(1) {
  width: 20%;
}
div.layout-base div.layout-section.three_with_sidebars div.layout-cell:nth-child(3) {
  width: 20%;
}
div.layout-base div.layout-section div.layout-cell {
  display: table-cell;
  vertical-align: top;
}
div.layout-base div.layout-section div.layout-cell img {
  max-width: none;
}

/*  */
.embedded-file-wrapper {
  position: relative;
  max-width: 100%;
}
.embedded-file-wrapper .embedded-image {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
  max-width: calc(100% - 4px);
}
.embedded-file-wrapper .embedded-image[width], .embedded-file-wrapper .embedded-image[height] {
  max-width: none;
}
