@charset "UTF-8";
/* ------------------------------------------------------ */
/* フレームの開閉用 */
div#rootPane {
  overflow: auto;
  padding: 0px;
  margin: 0px;
}
div#rootPane:lang(ja) {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Lato", sans-serif !important;
}
div#rootPane:lang(en) {
  font-family: "Lato", "Helvetica Neue", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

img#btn_lr {
  cursor: pointer;
}

/* ------------------------------------------------------ */
/* ロゴ */
div.logo {
  margin: 20px auto 20px auto;
  width: 300px;
}
div.logo img {
  margin: 0px;
}

/* ------------------------------------------------------ */
/* ドキュメントタイトル */
div.toc_title, div.toc_title a, div.toc_title a:visited {
  border: 0px solid gray;
  padding: 0px;
  background: transparent;
  margin: 1px;
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

/* ------------------------------------------------------ */
/* タイトル部分のアンカー */
div#doc_title a {
  text-decoration: none;
  color: blue;
}

/* ------------------------------------------------------ */
/* 印刷ページの選択肢 */
div#printController {
  margin: 16px 10px 16px 10px;
  background-color: #eeeeee;
  padding: 4px 16px;
  border-width: 0px;
  border-style: none;
  border-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-weight: normal;
  font-size: 12px;
  color: #444;
}

div#printControllerBase {
  min-height: 34px;
  margin-bottom: 2px;
}

div#printControllerTitle {
  display: inline-block;
  font-size: 1.4em;
  margin-top: 7px;
}

div#printControllerIcon {
  float: right;
}

input#changeViewMode_0,
input#changeViewMode_1,
input#changeViewMode_2 {
  border-color: #e3e3e3;
  border-width: 0px;
  border-style: solid;
}

SELECT.selectCategory {
  margin: 4px 0px 4px 0px;
  width: 100%;
}

INPUT.selectCategory {
  margin: 4px 0px 4px 0px;
  width: auto;
}

/* ------------------------------------------------------ */
/* すべてのツリー目次の開閉用 */
div#treeController {
  background-color: #fcfcfc;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  margin: 10px 10px 0px 10px;
  padding: 10px 0px;
  text-align: right;
  vertical-align: middle;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #ffffff;
}

/* ------------------------------------------------------ */
/* ツリー目次 */
div#contents_tree {
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  height: 80%;
  padding: 10px;
  margin: 0px 10px 0px 10px;
  background: #fcfcfc;
  line-height: 1.1em;
  font-size: 95%;
  border-color: #ffffff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}
div#contents_tree a {
  /* ツリー内のアンカー */
  text-decoration: none;
  font-weight: normal;
}
div#contents_tree a:link {
  color: #111;
}
div#contents_tree a:visited {
  color: #333;
}
div#contents_tree a:hover {
  background-color: #eee !important;
}
div#contents_tree a.focused {
  font-weight: bold;
  background-color: #7fcced;
}

/* ツリーの先頭 */
DIV.treeitem_root {
  text-align: left;
  font-weight: normal;
  color: #212121;
  position: relative;
  left: 0px;
  display: block;
  margin: 0px;
}

/* 開閉用 */
DIV.treeitem_open {
  text-align: left;
  font-weight: normal;
  color: #212121;
  position: relative;
  display: block;
  margin: 0px 0px 0px 12px;
}

DIV.treeitem_close {
  text-align: left;
  font-weight: normal;
  color: #212121;
  position: relative;
  display: none;
  margin: 0px 0px 0px 12px;
}

/* リスト行（アイコンあり） */
DIV.listline {
  text-align: left;
  vertical-align: middle;
  margin: 0px 16px 1px 0px;
  padding: 5px 0px 2px 0px;
  border-bottom: solid 1px #ddd;
}

/* リスト行（アイコンなし） */
DIV.listline_file {
  text-align: left;
  vertical-align: middle;
  margin: 0px 16px 1px 0px;
  padding: 5px 0px 2px 0px;
  border-bottom: solid 1px #ddd;
  margin-left: 20px;
}

/* アイコン */
IMG.file {
  vertical-align: middle;
}

IMG.closefolder, IMG.openfolder {
  vertical-align: middle;
  cursor: pointer;
  margin: 0px 4px 0px 0px;
}

/* 目次の文字 */
SPAN.header {
  vertical-align: middle;
  padding-left: 0px;
}

SPAN.item {
  font-weight: normal;
  vertical-align: middle;
  padding-left: 0px;
}

/* 区切り線 */
HR.separator {
  border: solid 0px #fff;
}

/* 階層レベルごとのフォントサイズ調整 */
span.treelevel_0 {
  font-size: 95%;
}

span.treelevel_1 {
  font-size: 95%;
}

span.treelevel_2 {
  font-size: 95%;
}

span.treelevel_3 {
  font-size: 88%;
}

span.treelevel_4 {
  font-size: 88%;
}

span.treelevel_5 {
  font-size: 88%;
}

span.treelevel_6 {
  font-size: 88%;
}

span.treelevel_7 {
  font-size: 88%;
}

span.treelevel_8 {
  font-size: 88%;
}

/* 2014/11/14 ボタン、ドロップダウンリストにフォント指定を反映する */
DIV#printController LABEL,
SELECT, INPUT, OPTION {
  font-family: inherit;
}

INPUT#printControllerButton {
  width: 40px;
  background-color: #eeeeee;
  background-image: url("../img/icon_setting_closed.png");
  background-repeat: no-repeat;
  background-position: center center;
}
INPUT#printControllerButton.printControllerOpened {
  background-color: #999999;
  background-image: url("../img/icon_setting_opened.png");
}

/* ------------------------------------------------------ */
DIV#autoindex_wrapper {
  position: fixed !important;
  position: absolute;
  top: 0px;
  width: 265px;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

DIV.autoindex_content {
  position: relative;
  left: 0px;
  margin: 0px;
  width: 1020px;
  z-index: 0;
}

DIV.autoindex_index {
  margin: 0px;
  width: 250px;
  height: 100%;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: #ddd;
  overflow: auto;
  position: relative;
  top: 0px;
  left: 0px;
  float: right;
  margin-left: -250px;
}

DIV.autoindex_toggle {
  width: 15px;
  height: 120px;
  background-image: url("../img/tab_right.png");
  background-repeat: no-repeat;
  background-position: left top;
  cursor: pointer;
  border-width: 0px;
  border-style: none;
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  margin-right: -15px;
}
DIV.autoindex_toggle:hover {
  background-image: url("../img/tab_right_hover.png");
}

DIV#autoindex_tab ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
DIV#autoindex_tab > ul {
  margin: 10px 0px;
}
DIV#autoindex_tab li {
  padding: 0px;
  margin: 5px 0px;
}
DIV#autoindex_tab li a {
  display: block;
  text-decoration: none;
  font-size: 10.5pt;
  border-style: dotted;
  border-color: #cccccc;
  border-width: 0px 0px 1px 0px;
}
DIV#autoindex_tab li a:link {
  color: #007cc4;
}
DIV#autoindex_tab li a:visited {
  color: #5e91a5;
}
DIV#autoindex_tab li a:hover {
  background-color: #eee !important;
}
DIV#autoindex_tab li a.focused {
  background-color: #DDD;
}
DIV#autoindex_tab li a.toplevel {
  font-size: 10pt;
  text-align: center;
}

DIV#globalindex_wrapper {
  margin: 0px;
  padding: 0px;
  width: 280px;
  position: fixed !important;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: 2;
  height: 100%;
}

DIV#globalindex_toggle {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 1px;
  left: 0px;
  width: 15px;
  height: 120px;
  float: right;
  margin-left: -15px;
  background-image: url("../img/tab_left.png");
  background-repeat: no-repeat;
  background-position: left top;
  border-width: 0px;
  border-style: solid;
  border-color: #eeeeee;
}
DIV#globalindex_toggle:hover {
  background-image: url("../img/tab_left_hover.png");
}

DIV#globalindex_tab {
  margin: 0px;
  padding: 0px 1px 0px 1px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 100%;
  float: left;
  margin-right: -265px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: #eeeeee;
  overflow: auto;
  background-color: #e3e3e3;
}

DIV#globalindex_edge {
  margin: 0px;
  padding: 0px 1px 0px 1px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 4px;
  height: 100%;
  float: left;
  margin-right: 0px;
  border-width: 0px 0px 0px 0px;
  border-style: none;
  border-color: #eeeeee;
  overflow: auto;
  cursor: e-resize;
  background-image: url("../img/tab_edge_dotted.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-color: #dddddd;
}
