@charset "UTF-8";
/* 目次タブ */
div#globalindex_tab {
  /*
  border-bottom-right-radius: 8px;
  */
}

/* ページ内目次タブ */
div#autoindex_tab {
  /*
  border-bottom-left-radius: 8px;
  */
}

/* 目次タブ内のタイトル */
/* 表紙のタイトル */
/* 注意事項など */
div.warning,
div.notice,
div.info_new,
div.note_new,
div.warn_new {
  /*
  box-shadow: rgba(0,0,0,0.1) 1px 1px;
  */
}
