.release_note span.addition_style:before
{
    content: "ADDITION";
    font-weight: normal;
    color: #585;
    font-family: Helvetica;
}
.release_note span.addition_style
{
    background-color    : #DDFFDD;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}
.release_note span.mini_addition_style:before
{
    content: "ADD";
    font-weight: normal;
    color: #585;
    font-family: Helvetica;
}
.release_note span.mini_addition_style
{
    background-color    : #DDFFDD;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}

.release_note span.improvement_style:before
{
    content: "IMPROVEMENT";
    font-weight: normal;
    color: #570;
    font-family: Helvetica;
}
.release_note span.improvement_style
{
    background-color    : #DDFF60;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}
.release_note span.mini_improvement_style:before
{
    content: "IMP";
    font-weight: normal;
    color: #570;
    font-family: Helvetica;
}
.release_note span.mini_improvement_style
{
    background-color    : #DDFF60;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}

.release_note span.bugfix_style:before
{
    content: "FIX";
    font-weight: normal;
    color: #558;
    font-family: Helvetica;
}
.release_note span.bugfix_style
{
    background-color    : #DDDDFF;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}
.release_note span.mini_bugfix_style:before
{
    content: "FIX";
    font-weight: normal;
    color: #558;
    font-family: Helvetica;
}
.release_note span.mini_bugfix_style
{
    background-color    : #DDDDFF;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}

.release_note span.nocomp_style:before
{
    content: "INCOMPATIBILITY";
    font-weight: normal;
    color: #740;
    font-family: Helvetica;
}
.release_note span.nocomp_style
{
    background-color    : #FFAA60;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}
.release_note span.mini_nocomp_style:before
{
    content: "INC";
    font-weight: normal;
    color: #740;
    font-family: Helvetica;
}
.release_note span.mini_nocomp_style
{
    background-color    : #FFAA60;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}

.release_note span.knownissue_style
{
    background-color    : #FFCC99;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}

.release_note span.modification_style
{
    background-color    : #FFDDDD;
    color               : black;
    font-size           : 75%;
    padding             : 2px;
    margin              : 0 5px 0 0;
    vertical-align      : middle;
}

.release_note span.red_strong
{
    color               : red;
    font-weight         : bold;
}

span.important_style
{
    background-color    : lavenderblush;
    color               : crimson;
    font-weight         : bold;
}

/* バージョン・日付 */
body div#rn_version
{
    margin:                 0;

    text-align:             right;
    font-size:              80%;
}

/* フッター類 */
body div#rn_footer
{
    padding:                0;
    margin:                 5em 0 0;

    border-width:           1px 0px 0px 0px;
    border-color:           black;
    border-style:           dotted;

    font-size:              80%;
}

body div#rn_footer div.confidential_logo
{
    margin:                 1em 0;

    font-weight:            bold;
    color:                  red;
}

body div#rn_footer div.confidential_ja
{
    margin:                 1em 0;

    background-color:       #FF0;
    padding:                0;
}

body div#rn_footer div.confidential_en
{
    margin:                 1em 0;
}

body div#rn_footer div.copyright
{
    margin:                 1em 0 0;

    text-align:             right;
}

/* UL */
UL.itemlist_rn
{
  position          : relative;
  left              : 8px;
  margin            : 1px 18px 24px 16px;
}

UL.ul_rn li
{
/*    margin : 0 0 0 0;*/
    text-indent : -5em;
    padding-left : 5em;
}

pre.release_note
{
    line-height: 1.0em;
    font-size: 90%;
    overflow: auto;
    border: 1px #c0c0c0 solid;
    padding: 10px 10px 10px 10px;
    margin-left: 2em;
}

pre.release_note2
{
    line-height: 1.0em;
    font-size: 90%;
    overflow: auto;
    border: 1px #c0c0c0 solid;
    padding: 10px 10px 10px 10px;
    margin-left: 2em;
}

@media (min-width: 30rem) {
    pre.release_note2
    {
        overflow-x: visible;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

