/* ------------------------------------------------------ */
div#search_title {
  margin: 8px 0px 8px 0px;
  border-color: gray;
  border-style: solid;
  border-width: 4px 0px 4px 0px;
  padding: 8px 1em 8px 1em;
  font-size: 28px;
  background-color: #eeeeff;
  line-height: 1em;
}

div#search_noscript {
  margin: 8px 1em 8px 1em;
  border-color: red;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  padding: 8px 1em 8px 1em;
  font-size: 120%;
  font-weight: bold;
  line-height: 120%;
}

div#search_hint {
  margin: 8px 1em 8px 1em;
  border-color: gray;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 8px 1em 8px 1em;
  font-size: 100%;
  /*
  line-height       : 120%;
  */
}

div#search_box {
  margin: 1em 0px 0px 0px;
  border-color: gray;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  padding: 0px 1em 0px 1em;
}

fieldset.search_fieldset {
  padding: 4px;
}

input.search_query {
  width: 90%;
}

div#search_message {
  padding: 8px 1em 8px 1em;
}

hr.search_message_line {
  margin: 8px 0px 8px 0px;
  border-color: gray;
  border-style: double;
  border-width: 4px 0px 0px 0px;
}

div#search_result {
  margin: 0px 1em 0px 1em;
  padding: 0px 0px 0px 0px;
}

p.search_result_title {
  margin: 0px 0px 0px 0px;
  padding: 4px 8px 4px 8px;
  border-color: grey;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  background-color: #eeeeff;
}
p.search_result_title a {
  font-size: 120%;
}

p.search_result_breadcrumb {
  margin: 0px 0px 0px 0px;
  padding: 2px 8px 2px 16px;
  border-color: grey;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  background-color: #eeeeff;
  line-height: initial;
  font-size: 75%;
}

p.search_result_line {
  margin: 1px 0px 1em 0px;
  padding: 8px 1em 8px 1em;
  border-color: grey;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}

div.searchbox_mini_div {
  margin: 8px 0px 0px 0px;
  border-color: gray;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  padding: 8px 0px 0px 0px;
  display: block;
}

input.searchbox_mini_text {
  font-size: 12px;
  font-weight: normal;
  color: #222;
  border: #aaaaaa 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0px;
  padding: 0.5em;
  width: 75%;
}

input.searchbox_mini_button {
  font-size: 12px;
  font-weight: normal;
  color: #222;
  border: #aaaaaa 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0px;
  padding: 0.5em;
  vertical-align: middle;
  width: 40px;
  height: 32px;
  background-image: url("../img/icon_search.png");
  background-repeat: no-repeat;
  background-position: center;
}

span.search_highlight {
  /*
    font-weight       : bold;
    font-style        : italic;
    color             : red;
  */
  background-color: #ffee00;
}

img.search_highlight {
  border-style: solid;
  border-width: 2px;
  border-color: #ffee00;
  background-color: #ffee00;
}
