/* for TermTip */
fieldset#termtip_controller {
  border-style: solid;
  border-color: #cccccc;
  border-radius: 8px;
}

span.TermTip:not(.TermTipDisabled) {
  position: relative;
}
span.TermTip:not(.TermTipDisabled):hover {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #1297cc;
  cursor: default;
}
span.TermTip:not(.TermTipDisabled):hover:after {
  content: "";
  display: inline-block;
  border: 7px solid transparent;
  border-bottom-color: #1297cc;
  position: absolute;
  top: 11px;
  left: 4px;
}

span.TermTip.TermTipUpper:not(.TermTipDisabled) {
  position: relative;
}
span.TermTip.TermTipUpper:not(.TermTipDisabled):hover {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #1297cc;
  cursor: default;
}
span.TermTip.TermTipUpper:not(.TermTipDisabled):hover:after {
  content: "";
  display: inline-block;
  border: 7px solid transparent;
  border-top-color: #1297cc;
  position: absolute;
  top: 11px;
  left: 4px;
}

div#TermTipDiv {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #1297cc;
  min-width: 150px;
  max-width: 450px;
  margin: 0px;
  padding: 5px 15px;
  border-radius: 5px;
  color: #ffffff;
  z-index: 1;
  font-size: 9pt;
  word-break: break-all;
}
