/* 
 * Opcode CSS definitions
 *
 */
body.opcode {
    font-size     : 10pt;
    font-family   : "Courier New", fixed-width;
}
body.opcode h1 {
    font-family      : Tahoma, sans-serif;
    font-size        : 16pt;
    text-align       : left;
    border           : none;
    padding          : 0pt;
    font-weight      : normal;
}
body.opcode h2 {
    font-size     : 16pt;
    font-family   : Tahoma, sans-serif;
    margin-top    : 18pt;
    margin-right  : 0pt;
    margin-left   : 0pt;
    font-weight   : normal;
}
body.opcode h3 {
    font-size     : 13pt;
    font-family   : Tahoma, sans-serif;
    margin-top    : 18pt;
    font-weight   : normal;
    margin-right  : 0pt;
    margin-left   : 3pt;
}
body.opcode h4 {
    font-weight   : bold;
    font-size     : 10pt;
    font-family   : "Courier New", fixed-width;
    margin-top    : 20pt;
}
body.opcode Changes {
    font-weight   : bold;
    font-size     : 10pt;
    font-family   : "Courier New", fixed-width;
    margin-top    : 20pt;
}
body.opcode p {
    margin-left       : 5pt;
    margin-right      : 5pt;
    margin-bottom     : 10pt;
    page-break-inside : avoid;
}
body.opcode pre {
    margin-top        : 0pt;
    margin-left       : 5pt;
    page-break-inside : avoid;
    font-size         : 10pt;
    font-family       : "Courier New", fixed-width;
}
body.opcode dt {
    font-weight       : bold;
    margin-left       : 2em;
    page-break-inside : avoid;
}

body.opcode dl.compact > dt {
    float : left; /* Compact to 1 line */
}

body.opcode dl {
    margin-left  : 0em;
}

body.opcode dd {
    margin-top   : 0;
    padding-left : 3em;
}

body.opcode p + ul {
    margin-top        : -10pt;
    page-break-inside : avoid;
}
body.opcode dd ul {
    margin-top        : 0pt;
    page-break-inside : avoid;
}

body.opcode div.nested {
    margin-left   : 2em;
}
body.opcode div.Tail {
    font-family    : serif;
    font-size      : 12pt;
    padding-left   : 1em;
    text-transform : lowercase;
    border-top     : solid;
    border-width   : 1px;
}
body.opcode div.Changes {
    font-size      : 12pt;
    padding-left   : 1em;
    background-color : #fff0f0;
}
body.opcode div.Operation pre {
    background-color : #f0f0f0;
    padding-left     : 2em;
}
body.opcode div.Format {
    background-color : #f0fff0;
    padding-left     : 1em;
}
body.opcode div.DepricatedFormat {
    text-decoration: line-through;
    background-color : #ff8080;
}
body.opcode table {
    border          : solid;
    border-width    : thin;
    border-spacing  : 0;
    border-collapse : collapse;
    font-size       : 10pt;
}
body.opcode th, body.opcode td {
    padding      : 0.2em;
    border       : solid;
    border-width : 1px;
}
body.opcode td pre {
    margin : 0;
}
body.opcode div.Description {
    max-width : 768px;
}
body.opcode div.AdditionalInformation {
    max-width : 768px;
}

/* 
 * Opcode Table CSS definitions
 *
 */
body.optable {
    font-size        : 12pt;
    font-family      : serif;
    background-color : #f3f3f3;
}

body.optable div.SpaVersions {
    font-family      : sans-serif;
    font-size        : 14pt;
    color            : black;
}

body.optable div.UnderConstruction {
    font-family      : sans-serif;
    font-size        : 18pt;
    color            : black;
}

body.optable h1 {
    font-family         : Tahoma, sans-serif;
    font-weight         : normal;
    font-size           : 22pt;
    border-bottom-style : solid;
    border-width        : 1px;
    margin-top          : 20pt;
    text-align          : left;
    padding             : default;

}

body.optable h2 {
    font-family         : Tahoma, sans-serif;
    font-weight         : normal;
    border-bottom-style : solid;
    border-width        : 1px;
    margin-top          : 40pt;
    margin-left         : 4pt;
}

body.optable table {
    margin-left      : 8pt;
    font-family      : Tahoma, sans-serif;
    font-size        : 14pt;
    border           : none;
    border-spacing   : 0;
    border-collapse  : collapse;
}

body.optable th {
    font-family         : Tahoma, sans-serif;
    font-weight         : bold;
    font-size           : 10pt;
    border              : none;
    text-align          : left;
    padding-left        : 1em;
    padding-right       : 1em;
}

body.optable th.header {
    font-family         : Tahoma, sans-serif;
    font-weight         : normal;
    font-size           : 16pt;
    border              : none;
    border-bottom-style : solid;
    border-width        : 1px;
    text-align          : left;
    padding             : 0;
    padding-top         : 1.5em;
}

body.optable td.op {
    border            : solid;
    border-width      : thin;
    border-spacing    : 0;
    background-color  : white;
    padding-left      : 1em;
    padding-right     : 1em;
    font-family       : "Courier New", fixed-width;
    font-size         : 11pt;
}

body.optable td {
    border            : solid;
    border-width      : thin;
    border-spacing    : 0;
    background-color  : white;
    padding-left      : 1em;
    padding-right     : 1em;
    font-family       : "Times New Roman", serif;
    font-size         : 12pt;
}

body.optable p {
    margin-left      : 0;
    margin-right     : 0;
    margin-bottom    : 10pt;
}



span.comment {
    color: green;
}




