@charset "utf-8";

/* ------------------------------------------------------ */
BODY
{
  position          : relative;
  left              : 0px;
  top               : 0px;
  overflow          : auto;
  letter-spacing    :1px;
}

DIV#autoindex_wrapper
{
  position          : fixed !important;
  position          : absolute;
  top               : 0px;
  width             : 265px;
  height            : 100%;
  z-index           : 1;
  overflow          : hidden;
  margin            : 0px;
  padding           : 0px;

  /* Smooth Scrolling For IE */
  background-image  : url(null);
  background-attachment : fixed;
}

DIV.autoindex_content
{
  position          : relative;
  left              : 0px;
  margin            : 0px;
  width             : 1020px;
  z-index           : 0;

}

DIV.autoindex_index
{
  margin            : 0px;
  width             : 250px;
  height            : 100%;
  background-color  : #FFFFFF;
  border-style      : solid;
  border-width      : 0px 0px 0px 2px;
  border-color      : #ddd;
  overflow          : auto;

  position          : relative;
  top               : 0px;
  left              : 0px;
  float             : right;
  margin-left       : -250px;
}

DIV#autoindex_tab
{
}

DIV#autoindex_tab ul
{
  margin            : 0px;
  padding           : 0px;
  list-style-type   : none;
}

DIV#autoindex_tab > ul
{
  margin            : 10px 0px;
}

DIV#autoindex_tab li
{
  padding           : 0px;
  margin            : 5px 0px;
}

DIV#autoindex_tab li a
{
  display           : block;
  text-decoration   : none;
  font-size         : 10.5pt;
  border-style      : dotted;
  border-color      : #cccccc;
  border-width      : 0px 0px 1px 0px;
}

DIV#autoindex_tab li a:link
{
  color             : #007cc4;
}

DIV#autoindex_tab li a:visited
{
  color             : #5e91a5;
}

DIV#autoindex_tab li a:hover
{
  background-color  : #eee !important;
}

DIV#autoindex_tab li a.focused
{
  background-color  : #DDD;
}

DIV#autoindex_tab li a.toplevel
{
  font-size         : 10pt;
  text-align        : center;
}

DIV#globalindex_wrapper
{
  margin            : 0px;
  padding           : 0px;
  width             : 280px;
  position          : fixed !important;
  position          : absolute;
  overflow          : hidden;
  top               : 0px;
  left              : 0px;
  z-index           : 2;
  height            : 100%;

  /* Smooth Scrolling For IE */
  background-image  : url(null);
  background-attachment : fixed;
}

DIV#globalindex_tab
{
  margin            : 0px;
  padding           : 0px 1px 0px 1px;
  position          : relative;
  top               : 0px;
  left              : 0px;
  width             : 265px;
  height            : 100%;
  float             : left;
  margin-right      : -265px;
  border-width      : 0px 0px 0px 0px;
  border-style      : solid;
  border-color      : #EEE;
  overflow          : auto;
  background        : #e3e3e3;
}
