@charset "utf-8";
@import url("common.css");

/* ------------------------------------------------------ */
/* タイトル */
DIV.doc_title
{
  text-align:center;
  margin            : 32px auto 24px auto;
  background        : #fff;
  padding           : 15px;
  border            : 0px solid gray;
  font-size         : 36px; 
  font-weight       : normal; 
  color             : #222;
  line-height       : 1.5em;
}

/* ------------------------------------------------------ */
/* バージョン、推奨ブラウザ */

DIV.version
{
  text-align        : right;
  padding           : 15px;
}

/* ------------------------------------------------------ */
/* 商標 */
DIV.copyright
{
  font-size:80%;
}

/* ------------------------------------------------------ */
/* インデント下げテキスト */

DIV.text
{
  position          : relative;
  margin            : 0px 0px 0px 0em;
  padding-right     : 0px;
  color             : #2d2d2d;
  padding-left      : 1em;

}

DIV.text_separate
{
  position          : relative;
  margin            : 0px 0px 32px 0em;
  padding-right     : 0px;
  color             : #2d2d2d;
  padding-left      : 1em;
}

/* ------------------------------------------------------ */
/* 図表番号（表 x-x） */
DIV.table
{
  position          : relative;
  margin            : 24px 0px 4px 14px;
  font-weight       : bold;
  font-size         : 85%;
}

/* ------------------------------------------------------ */
/* 図表番号（図 x-x） */
DIV.figure
{
  position          : relative;
  margin            : 24px 0px 4px 14px;
  font-weight       : bold;
  font-size         : 85%;
}

/* ------------------------------------------------------ */
/* 図表番号（コード x-x） */
DIV.code
{
  position          : relative;
  margin            : 24px 0px 4px 14px;
  font-weight       : bold;
  font-size         : 85%;
}

/* ------------------------------------------------------ */
/* コード */
DIV.code_block
{
  position        : relative;
  background      : #eee;
  margin          : 8px 20px 16px 20px;
  padding         : 8px 8px;
}

PRE.code
{
  font-size       : 9pt;
  font-family     : "Courier New", monospace;
  margin          : 0px;
  padding         : 0px;
  overflow        : auto;
  white-space     : pre-wrap;
  word-wrap       : break-word;
}

PRE.comment
{
  font-size       : 9pt;
  color           : #888;
  margin          : 0px;
  padding         : 0px;
}

DIV.code_block PRE
{
  margin          : 8px 12px 8px 12px;
  padding         : 0px;
}

/* ------------------------------------------------------ */
/* 文中コード */
SPAN.code
{
  font-family     : "Courier New", monospace;
  font-style      : normal;
}

SPAN.attribute
{
  font-family     : "Courier New", monospace;
  font-style      : italic;
}

/* ------------------------------------------------------ */
/* 文字修飾 */
SPAN.red
{
  color           : red;
}

SPAN.bold, SPAN.strong
{
  font-weight     : bold;
}

SPAN.italic
{
  font-style      : italic;
}

/* ------------------------------------------------------ */
/* UI 説明 */
OL.ui
{
  list-style-type : upper-alpha;
}

/* ------------------------------------------------------ */

P.warning
{
  background      : #FFFF99;
  color           : #2d2d2d;
  border          : solid 1px black;
  padding         : 1em;
}

P.notice
{
  background      : #CCFFFF;
  color           : #2d2d2d;
  border          : solid 1px black;
  padding         : 1em;
}

/* ------------------------------------------------------ */
/* Nintendo Confidential */

TABLE.confidential
{
  width               : auto;
  border              : 0px solid #aaa;
}

TABLE.confidential TH
{
  font-size           : 11pt;
  background-color    : #fff;
  color               : #777;
  text-align          : center;
  border              : 0px solid #aaa;
}

TABLE.confidential TD
{
  font-size         : 10pt;
  line-height       : 1.3em;
  padding           : 20px 10px 10px 10px;
  border              : 0px solid #aaa;
}

/* ------------------------------------------------------ */
/* 表 */
TABLE.table
{
  text-align        : left;
  font-size         : 10pt;
  font-weight       : normal;
  color             : #2d2d2d;
  position          : relative;
  margin            : 15px 12px 30px 14px;
  border            : 1px solid #b0b0b0;
  border-collapse   : collapse;
  padding           : 5px;
  width             : auto;
}

TABLE.table TH
{
  text-align        : center;
  font-weight       : normal;
  color             : #2d2d2d;
  background-color  : #eee;
  border            : 1px solid #b0b0b0;
  white-space       : normal;
}

TABLE.table TH.header
{
  text-align        : center;
  font-weight       : normal;
  color             : #2d2d2d;
  background-color  : #eee;
  border            : 1px solid #b0b0b0;
  width             : 128px;
}

TABLE.table TD
{
  text-align        : left;
  font-weight       : normal;
  color             : #2d2d2d;
  background-color  : #FFFFFF;
  border            : 1px solid #b0b0b0;
  line-height       : 1.3em;
}

TABLE.table TD.header
{
  text-align        : left;
  font-weight       : normal;
  color             : #2d2d2d;
  background-color  : #FFFFFF;
  border            : 1px solid #b0b0b0;
  width             : 128px;
}

TABLE.table TD.left
{
  text-align        : left;
}

TABLE.table TD.right
{
  text-align        : right;
}

TABLE.table TD.center
{
  text-align        : center;
}

TABLE.table TD.top
{
  vertical-align    : top;
}

TABLE.table TD.middle
{
  vertical-align    : middle;
}

TABLE.table TD.bottom
{
  vertical-align    : bottom;
}

TABLE.table TD.nowrap
{
  white-space       : nowrap;
}

PRE.code
{
  background: #eee;
  line-height:120%;
}

/* ------------------------------------------------------ */
/* コードブロックの強調表示に対応 */
TABLE.codeblock
{
  border-style: dashed;
}

TABLE.codeblock td
{
  vertical-align: top;
  border-style: dashed;
  border-color: #cccccc;
  font-family: "Courier New", monospace;
}

TABLE.codeblock td.gutter
{
  min-width: 50px;
  text-align: right;
  background-color: #eeeeee;
  color: #aaaaaa;
  border-style: dashed solid dashed dashed;
}

TABLE.codeblock td.code
{
  text-align: left;
}

DIV.codeblock
{
  white-space: nowrap;
  overflow-x: auto;
  width: 800px;
  margin: 0px;
  padding: 0px;
}


DIV.codeblock .hll, PRE.code .hll
{
  background-color: #ffffcc;
}
/* Comment */
DIV.codeblock .c, PRE.code .c
{
  color: #408090;
  font-style: italic;
}
/* Error */
DIV.codeblock .err, PRE.code .err
{
  border: 1px solid #ff0000;
}
/* Keyword */
DIV.codeblock .k, PRE.code .k
{
  color: #007020;
  font-weight: bold;
}
/* Operator */
DIV.codeblock .o, PRE.code .o
{
  color: #666666;
}
/* Comment.Multiline */
DIV.codeblock .cm, PRE.code .cm
{
  color: #408090;
  font-style: italic;
}
/* Comment.Preproc */
DIV.codeblock .cp, PRE.code .cp
{
  color: #007020;
}
/* Comment.Single */
DIV.codeblock .c1, PRE.code .c1
{
  color: #408090;
  font-style: italic;
}
/* Comment.Special */
DIV.codeblock .cs, PRE.code .cs
{
  color: #408090;
  background-color: #fff0f0;
}
/* Generic.Deleted */
DIV.codeblock .gd, PRE.code .gd
{
  color: #a00000;
}
/* Generic.Emph */
DIV.codeblock .ge, PRE.code .ge
{
  font-style: italic;
}
/* Generic.Error */
DIV.codeblock .gr, PRE.code .gr
{
  color: #ff0000;
}
/* Generic.Heading */
DIV.codeblock .gh, PRE.code .gh
{
  color: #000080;
  font-weight: bold;
}
/* Generic.Inserted */
DIV.codeblock .gi, PRE.code .gi
{
  color: #00a000;
}
/* Generic.Output */
DIV.codeblock .go, PRE.code .go
{
  color: #303030;
}
/* Generic.Prompt */
DIV.codeblock .gp, PRE.code .gp
{
  color: #c65d09;
  font-weight: bold;
}
/* Generic.Strong */
DIV.codeblock .gs, PRE.code .gs
{
  font-weight: bold;
}
/* Generic.Subheading */
DIV.codeblock .gu, PRE.code .gu
{
  color: #800080;
  font-weight: bold;
}
/* Generic.Traceback */
DIV.codeblock .gt, PRE.code .gt
{
  color: #0040d0;
}
/* Keyword.Constant */
DIV.codeblock .kc, PRE.code .kc
{
  color: #007020;
  font-weight: bold;
}
/* Keyword.Declaration */
DIV.codeblock .kd, PRE.code .kd
{
  color: #007020;
  font-weight: bold;
}
/* Keyword.Namespace */
DIV.codeblock .kn, PRE.code .kn
{
  color: #007020;
  font-weight: bold;
}
/* Keyword.Pseudo */
DIV.codeblock .kp, PRE.code .kp
{
  color: #007020;
}
/* Keyword.Reserved */
DIV.codeblock .kr, PRE.code .kr
{
  color: #007020;
  font-weight: bold;
}
/* Keyword.Type */
DIV.codeblock .kt, PRE.code .kt
{
  color: #902000;
}
/* Literal.Number */
DIV.codeblock .m, PRE.code .m
{
  color: #208050;
}
/* Literal.String */
DIV.codeblock .s, PRE.code .s
{
  color: #4070a0;
}
/* Name.Attribute */
DIV.codeblock .na, PRE.code .na
{
  color: #4070a0;
}
/* Name.Builtin */
DIV.codeblock .nb, PRE.code .nb
{
  color: #007020;
}
/* Name.Class */
DIV.codeblock .nc, PRE.code .nc
{
  color: #0e84b5;
  font-weight: bold;
}
/* Name.Constant */
DIV.codeblock .no, PRE.code .no
{
  color: #60add5;
}
/* Name.Decorator */
DIV.codeblock .nd, PRE.code .nd
{
  color: #555555;
  font-weight: bold;
}
/* Name.Entity */
DIV.codeblock .ni, PRE.code .ni
{
  color: #d55537;
  font-weight: bold;
}
/* Name.Exception */
DIV.codeblock .ne, PRE.code .ne
{
  color: #007020;
}
/* Name.Function */
DIV.codeblock .nf, PRE.code .nf
{
  color: #06287e;
}
/* Name.Label */
DIV.codeblock .nl, PRE.code .nl
{
  color: #002070;
  font-weight: bold;
}
/* Name.Namespace */
DIV.codeblock .nn, PRE.code .nn
{
  color: #0e84b5;
  font-weight: bold;
}
/* Name.Tag */
DIV.codeblock .nt, PRE.code .nt
{
  color: #062873;
  font-weight: bold;
}
/* Name.Variable */
DIV.codeblock .nv, PRE.code .nv
{
  color: #bb60d5;
}
/* Operator.Word */
DIV.codeblock .ow, PRE.code .ow
{
  color: #007020;
  font-weight: bold;
}
/* Text.Whitespace */
DIV.codeblock .w, PRE.code .w
{
  color: #bbbbbb;
}
/* Literal.Number.Float */
DIV.codeblock .mf, PRE.code .mf
{
  color: #208050;
}
/* Literal.Number.Hex */
DIV.codeblock .mh, PRE.code .mh
{
  color: #208050;
}
/* Literal.Number.Integer */
DIV.codeblock .mi, PRE.code .mi
{
  color: #208050;
}
/* Literal.Number.Oct */
DIV.codeblock .mo, PRE.code .mo
{
  color: #208050;
}
/* Literal.String.Backtick */
DIV.codeblock .sb, PRE.code .sb
{
  color: #4070a0;
}
/* Literal.String.Char */
DIV.codeblock .sc, PRE.code .sc
{
  color: #4070a0;
}
/* Literal.String.Doc */
DIV.codeblock .sd, PRE.code .sd
{
  color: #4070a0;
  font-style: italic;
}
/* Literal.String.Double */
DIV.codeblock .s2, PRE.code .s2
{
  color: #4070a0;
}
/* Literal.String.Escape */
DIV.codeblock .se, PRE.code .se
{
  color: #4070a0;
  font-weight: bold;
}
/* Literal.String.Heredoc */
DIV.codeblock .sh, PRE.code .sh
{
  color: #4070a0;
}
/* Literal.String.Interpol */
DIV.codeblock .si, PRE.code .si
{
  color: #70a0d0;
  font-style: italic;
}
/* Literal.String.Other */
DIV.codeblock .sx, PRE.code .sx
{
  color: #c65d09;
}
/* Literal.String.Regex */
DIV.codeblock .sr, PRE.code .sr
{
  color: #235388;
}
/* Literal.String.Single */
DIV.codeblock .s1, PRE.code .s1
{
  color: #4070a0;
}
/* Literal.String.Symbol */
DIV.codeblock .ss, PRE.code .ss
{
  color: #517918;
}
/* Name.Builtin.Pseudo */
DIV.codeblock .bp, PRE.code .bp
{
  color: #007020;
}
/* Name.Variable.Class */
DIV.codeblock .vc, PRE.code .vc
{
  color: #bb60d5;
}
/* Name.Variable.Global */
DIV.codeblock .vg, PRE.code .vg
{
  color: #bb60d5;
}
/* Name.Variable.Instance */
DIV.codeblock .vi, PRE.code .vi
{
  color: #bb60d5;
}
/* Literal.Number.Integer.Long */
DIV.codeblock .il, PRE.code .il
{
  color: #208050;
}

/* ------------------------------------------------------ */
/* 箇条書き */
OL LI,
OL OL OL OL LI
{
  list-style-type   : decimal;
}

OL OL LI,
OL OL OL OL OL LI
{
  list-style-type   : lower-alpha;
}

OL OL OL LI,
OL OL OL OL OL OL LI
{
  list-style-type   : lower-roman;
}

UL.none
{
  list-style        : none;
}

UL
{
  list-style        : disc;
}

UL UL
{
  list-style        : disc;
}

UL UL UL
{
  list-style        : disc;
}

UL UL UL UL
{
  list-style        : disc;
}

UL
{
  padding           : 0px;
}

UL LI
{
  list-style-type   : none;
}


LI P
{
  margin            : 4px 0px 4px 0px;
  padding           : 0px 0px 0px 0px;
}

/* 注意事項 */
DIV.warning
{
  background        : #fffcb2;
  color             : #2d2d2d;
  border            : solid 1px #edc600;
  width             : 95%;
  margin            : 30px 20px 30px 20px;
  padding-top       : 0px;
  padding-bottom    : 8px;
}

DIV.warning_left
{
  float             : left;
  margin            : 8px 0px 0px 1em;
  font-weight       : bold;
}

DIV.warning_right
{
  margin-left       : 3em;
}

/* 補足情報 */
DIV.notice
{
  background        : #eaf9f9;
  color             : #2d2d2d;
  border            : solid 1px #3fd6b7;
  width             : 95%;
  margin            : 30px 20px 30px 20px;
  padding-top       : 0px;
  padding-bottom    : 8px;
}

DIV.notice_left
{
  float             : left;
  margin            : 8px 0px 0px 1em;
  font-weight       : bold;
}

DIV.notice_right
{
  margin-left       : 3em;
}

/* Infoマクロ */
DIV.info_new
{
  background        : #d6f7f4;
  color             : #2d2d2d;
  border            : solid 1px #3fd6b7;
  width             : 95%;
  margin            : 30px 20px 30px 20px;
  padding-top       : 0px;
  padding-bottom    : 8px;
}
DIV.info_new_left
{
  float             : left;
  margin            : 8px 0px 0px 1em;
  font-weight       : bold;
}
DIV.info_new_right
{
  margin-left       : 3em;
}

/* Noteマクロ */
DIV.note_new
{
  background        : #fffcb2;
  color             : #2d2d2d;
  border            : solid 1px #edc600;
  width             : 95%;
  margin            : 30px 20px 30px 20px;
  padding-top       : 0px;
  padding-bottom    : 8px;
}
DIV.note_new_left
{
  float             : left;
  margin            : 8px 0px 0px 1em;
  font-weight       : bold;
}
DIV.note_new_right
{
  margin-left       : 3em;
}

/* Warningマクロ */
DIV.warn_new
{
  background        : #fff2d6;
  color             : #2d2d2d;
  border            : solid 1px #ff721e;
  width             : 95%;
  margin            : 30px 20px 30px 20px;
  padding-top       : 0px;
  padding-bottom    : 8px;
}
DIV.warn_new_left
{
  float             : left;
  margin            : 8px 0px 0px 1em;
  font-weight       : bold;
}
DIV.warn_new_right
{
  margin-left       : 3em;
}


/* 表内 */
TABLE.table P
{
  margin            : 0px;
}

TABLE.table UL
{
  margin            : 4px 1em 4px 1em;
  padding           : 0px 0px 0px 1em;
}


/* ------------------------------------------------------ */
/* 水平線 */
hr
{
  border-top    : solid 0px #fff;
  border-right    : solid 0px #fff;
  border-bottom : solid 1px #666;
  border-left    : solid 0px #fff;
}


