@charset "utf-8";

/* ------------------------------------------------------ */
/* ボディ */
body
{
  background  : #FFF;
  margin:20px auto 50px auto;
  padding: 0px 48px 0px 48px;
  font-weight :normal;
  font-size   : 10.5pt;
  font-family : Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  line-height :1.5em;
}

/* ------------------------------------------------------ */
/* パラグラフ */
p
{
  position  : relative;
  margin    : 8px 12px 0px 14px;
  padding   : 0px;
}

p.center
{
  text-align  : center;
}

p.left
{
  text-align  : left;
}

p.right
{
  text-align  : right;
}

/* pre */
pre
{
  margin  : 8px 12px 0px 14px;
  padding : 0px;
}

/* ------------------------------------------------------ */
/* リスト */

ul
{
  margin  : 24px 12px 27px 3em;
  padding : 0px;
}

ol
{
  margin  : 8px 12px 0px 3em;
  padding : 0px;
}

dl
{
  margin  : 8px 12px 0px 2em;
  padding : 0px;
}

li ul
{
  margin  : 0px 0px 12px 1em;
}

li ol
{
  margin  : 0px 0px 12px 1em;
}

li dl
{
  margin  : 0px 0px 12px 1em;
}

li
{
  margin  : 5px 0px 0px 0px;
  padding : 0px;
}

dt
{
  font-weight : bold;
  margin      : 8px 0px 0px 0px;
}

dd
{
  margin  : 4px 0px 0px 1em;
}

/* ------------------------------------------------------ */
/* テーブル */
table
{
  border-style    : solid;
  border-collapse : collapse;
  border-width    : 1px;
  border-color    : #aaa;
  margin            : 15px 12px 30px 14px;
  padding         : 0px;
  line-height:1.3em;
}

table table
{
  border-width  : 1px;
  margin            : 15px 12px 30px 14px;
  padding       : 0px;
  line-height:1.3em;
}

thead {
  background  : #ddd;
}

th
{
  text-align    : center;
  border-style  : solid;
  border-width  : 1px;
  padding       : 4px 8px 4px 8px;
  white-space   : nowrap;
}

td
{
  border-style  : solid;
  border-width  : 1px;
  padding       : 4px 8px 4px 8px;
}

td.nowrap_left
{
  white-space : nowrap;
  text-align  : left;
}

td.nowrap_center
{
  white-space : nowrap;
  text-align  : center;
}

td.nowrap_right
{
  white-space : nowrap;
  text-align  : right;
}

/* ------------------------------------------------------ */
/* 強調 */
em
{
/*
  font-style      : normal;
  text-decoration : underline;
*/
}

/* ------------------------------------------------------ */
/* リンク */
a
{
  text-decoration : none;
  color           : #007cc4;
}

a:hover
{
  text-decoration : underline;
}

/* ------------------------------------------------------ */
/* 画像 */
img
{
  vertical-align: bottom;
  border-width  : 0px;
  margin:15px 0px 0px;
}

/* ------------------------------------------------------ */
/* input */
input
{
  font-size   : 12px;
  font-weight : normal;
  color       : #222;
  border      : #aaa 1px solid;
  -webkit-border-radius : 3px;
  -moz-border-radius    : 3px;
  border-radius         : 3px;
  margin      : 1px 3px 2px 0px;
  padding     : 5px;

  /* Firefox */
  background: -moz-linear-gradient(top center, bottom center, #fafafa 100%, #ddd 100%);

  /* Chrome,Safari */
  background: -webkit-gradient(linear, center top, center bottom, from(rgba(250,250,250,1.0)), to(#ddd));

  /* common */
  background: linear-gradient(top center, bottom center, #fafafa 100%, #ddd 100%);

}

input#changeViewMode_0, #changeViewMode_1, #changeViewMode_2{
  border      : #e3e3e3 0px solid;
}

input.searchbox_mini_text
{
  font-size   : 12px;
  font-weight : normal;
  color       : #222;
  border      : #aaaaaa 1px solid;
  -webkit-border-radius : 3px;
  -moz-border-radius    : 3px;
  border-radius         : 3px;
  margin      : 0px;
  padding     : 0.5em;

  /* Firefox */
  background: -moz-linear-gradient(top center, bottom center, #fafafa 100%, #fff 100%);

  /* Chrome,Safari */
  background: -webkit-gradient(linear, center top, center bottom, from(rgba(250,250,250,1.0)), to(#fff));

  /* common */
  background: linear-gradient(top center, bottom center, #fafafa 100%, #fff 100%);

}

input.searchbox_mini_button
{
  font-size   : 12px;
  font-weight : normal;
  color       : #222;
  border      : #aaaaaa 1px solid;
  -webkit-border-radius : 3px;
  -moz-border-radius    : 3px;
  border-radius         : 3px;
  margin      : 0px;
  padding     : 0.5em;

  /* Firefox */
  background: -moz-linear-gradient(top center, bottom center, #fafafa 100%, #ddd 100%);

  /* Chrome,Safari */
  background: -webkit-gradient(linear, center top, center bottom, from(rgba(250,250,250,1.0)), to(#ddd));

  /* common */
  background: linear-gradient(top center, bottom center, #fafafa 100%, #ddd 100%);

}

/* ------------------------------------------------------ */
