@charset "utf-8";
@import url("common_main.css");

/* ------------------------------------------------------ */
/* 表示切り替え用 */
DIV.closeitem
{
  text-align        : left;
  font-weight       : normal;
  color             : #3D3D3D;
  position          : relative;
  display           : none;
  margin            : 0px;
}

DIV.openitem
{
  text-align        : left;
  font-weight       : normal;
  color             : #3D3D3D;
  position          : relative;
  display           : block;
  margin            : 0px;
}

/* ------------------------------------------------------ */
/* ガイドライン項目表示用 */
TABLE.guideline
{
  text-align        : left;
  font-size         : 10pt;
  font-weight       : normal;
  /*color             : #3D3D3D;*/
  position          : relative;
  /*margin            : 4px 24px 4px 24px;*/
  margin          : 16px 12px 16px 14px;
  border-style    : solid;
  border-collapse : collapse;
  border-width    : 1px;
  border-color    : #b0b0b0;
  padding           : 0px;
  width             : auto;
  line-height:1.3em;
}

TABLE.guideline TH
{
  text-align        : left;
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #eeeeee;
  border            : 1px solid #aaa;
  white-space       : normal;
  padding       : 4px 8px 4px 8px;
}

TABLE.guideline TH.header
{
  text-align        : left;
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #eeeeee;
  border            : 1px solid #b0b0b0;
  width             : 128px;
}

TABLE.guideline TD
{
  text-align        : left;
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #FFFFFF;
  border            : 1px solid #b0b0b0;
  white-space       : normal;
  padding       : 4px 8px 4px 8px;
}

TABLE.guideline TD.header
{
  text-align        : left;
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #FFFFFF;
  border            : 1px solid #b0b0b0;
  width             : 128px;
}

DIV.itemtext
{
  text-align        : left;
  vertical-align    : top;
  /*font-size         : 11pt;*/
  font-weight       : normal;
  position          : relative;
  left              : 0px;
  margin            : 1px 0px 1px 0px;
}

DIV.itemtext P
{
  margin            : 0px;
}

DIV.itemindent
{
  text-align        : left;
  vertical-align    : top;
  /*font-size         : 11pt;*/
  font-weight       : normal;
  position          : relative;
  left              : 24px;
  margin            : 1px 16px 1px 0px;
}

TABLE.itemintable
{
  text-align        : left;
  vertical-align    : top;
  /*font-size         : 11pt;*/
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #FFFFFF;
  position          : relative;
  margin            : 1px 16px 2px 8px;
  border            : 0px none;
  border-collapse   : collapse;
  padding           : 0px;
}

TABLE.itemintable TH
{
  white-space       : nowrap;
  text-align        : left;
  vertical-align    : top;
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #FFFFFF;
  margin            : 0px;
  border            : 0px none;
  padding           : 1px 8px 1px 1px;
/*
  min-width         : 24px;
*/
  white-space       : normal;
}

TABLE.itemintable TD
{
  text-align        : left;
  vertical-align    : top;
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #FFFFFF;
  margin            : 0px;
  border            : 0px none;
  padding           : 1px 8px 1px 1px;
}

TABLE.itemindent
{
  text-align        : left;
  vertical-align    : top;
  /*font-size         : 11pt;*/
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #FFFFFF;
  position          : relative;
  margin            : 1px 16px 2px 24px;
  border            : 0px none;
  border-collapse   : collapse;
  padding           : 0px;
}

TABLE.itemindent TH
{
  white-space       : nowrap;
  text-align        : left;
  vertical-align    : top;
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #FFFFFF;
  margin            : 0px;
  border            : 0px none;
  padding           : 1px 8px 1px 1px;
  min-width         : 24px;
  white-space       : normal;
}

TABLE.itemindent TD
{
  text-align        : left;
  vertical-align    : top;
  font-weight       : normal;
  color             : #3D3D3D;
  background-color  : #FFFFFF;
  margin            : 0px;
  border            : 0px none;
  padding           : 1px 8px 1px 1px;
}

UL.itemlist
{
  position          : relative;
  left              : 8px;
  margin            : 1px 8px 1px 16px;
}

UL.itemlist LI
{
}

DIV.marginaltext
{
  position          : relative;
  margin            : 4px 16px 4px 24px;
}

DIV.marginaltext P
{
  margin            : 0px;
}

TABLE.guideline OL
{
  position          : relative;
  left              : 8px;
  margin            : 1px 8px 1px 16px;
}

/* ------------------------------------------------------ */
/* 解説書とガイドライン項目の区切り線 */
HR.borderline
{
  width             : 100%;
  height            : 5px;
  border-width      : 5px;
  border-style      : double none none none;
  border-color      : gray;
  margin            : 16px 0px 8px 0px;
}

/* ------------------------------------------------------ */
/* パッケージ選択と除外項目の表示 */
SELECT#selectPackage
{
  margin            : 4px 0px 4px 0px;
  width             : 100%;
}

H1.excludedGuideline,
H2.excludedGuideline,
H3.excludedGuideline,
H4.excludedGuideline,
H5.excludedGuideline,
H6.excludedGuideline,
DIV.excludedGuideline,
DIV.excludedGuideline TABLE TH,
DIV.excludedGuideline TABLE TD,
DIV.excludedGuideline DIV,
DIV.excludedGuideline P,
DIV.excludedGuideline A,
DIV.excludedGuideline SPAN
{
  color: #CCCCCC !important;
  background-color  : #AAAAAA !important;
  border-color: #CCCCCC !important;
}

DIV.excludedGuideline IMG
{
  -webkit-filter: grayscale(100%) invert(33%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.133 0.133 0.133 0 0 0.133 0.133 0.133 0 0 0.133 0.133 0.133 0 0 0 0 0 0.5 0'/></filter></svg>#grayscale");
  filter: Gray() Alpha(opacity=50);
}

A.excludeGuideline
{
  color: #CCCCCC !important;
}

DIV.excludedGuideline DIV.excludedLabel
{
  width: 95%;
  font-weight: bold;
  text-align: center;
  color: #000000 !important;
  background-color: #CCFF99 !important;
  border-color: #000000 !important;
  border-style: solid;
  border-width: 1px;
  padding: 4px;
  border-radius: 4px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 8px;
}

/* 本文 */
DIV.body_content
{
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",sans-serif;
  max-width:800px;
  margin:0px auto 0px auto;
  overflow: visible;
}


@page
{
  width             : 56em;
}

/* 見出し関連 */
div.pagetitle
{
  font-size: 24pt;
  font-weight:normal;
  color:black;
  margin: 50px 0px 36px 0px;
  padding: 0px;
  background: #ffffff;
}

h1
{
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 70px 0px 20px 0px;
  padding: 7px 3px;
  background: #ffffff;
  border-bottom: #7fcced 7px solid;
}

h2
{
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 50px 0px 20px 0px;
  padding: 3px;
  background: #ffffff;
  border-bottom: #d3d3d3 5px solid;
}


h3
{
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 50px 0px 20px 0px;
  padding: 3px;
  background: #ffffff;
  border-bottom: #666 1px solid;
}

h4
{
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 30px 0px 20px 0px;
  padding: 3px;
  background: #ffffff;
  border-bottom: #999 1px solid;
}

h5
{
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 20px 0px 20px 0px;
  padding: 3px;
  background: #ffffff;
  border-bottom: #999 1px solid;
}

h6
{
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 20px 0px 20px 0px;
  padding: 3px;
  background: #ffffff;
  border-bottom: #ccc 0px solid;
}

div.notice_left,div.warning_left,
div.table,div.figure,div.code
{
  color: #222;
}

h1.guideline,
h1.general
{
  margin-left: 0px !important;
}

h2.guideline,
h2.general
{
  margin-left: 0px !important;
}

h3.guideline,
h3.general
{
  margin-left: 0px !important;
}

h4.guideline,
h4.general
{
  margin-left: 0px !important;
}

h5.guideline,
h5.general
{
  margin-left: 0px !important;
}

h6.guideline,
h6.general
{
  margin-left: 0px !important;
}

h2.history
{
  padding-top: 10px;
}

div.text h3,
div.text h4,
div.text h5,
div.text h6
{
  padding-top: 10px;
  margin-left: 0px;
}


/*
strong
{
  color             : red;
}
*/

/* パンくずリスト */
div.breadcrumb
{
  font-size: 85%;
  color:#666;
  background-color: #fff;
  width: 100%;
}

div.breadcrumb_bottom
{
  font-size: 85%;
  color:#666;
  background-color: #fff;
  width: 100%;
}

/* 前後ページへのリンク */
div.page_navigation
{
  margin: 0px;
  border-style: solid none none none;
  border-width: 1px;
  border-color: #c0c0c0;
  padding-top: 4px;
  text-align: center;
}

div.page_navigation_top
{
  margin: 0px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #c0c0c0;
  padding-top: 4px;
  text-align: center;
}

div.page_navigation a,
div.page_navigation_top a,
{
  color: #007cc4;
}

table.page_navi_root
{
  width: 100%;
  border-style: none;
  border-width: 0px;
  margin: 0px;
}

table.page_navi_root td
{
  border-style: none;
  border-width: 0px;
}

td.page_navi_left
{
  width: 50%;
  text-align: left;
}

td.page_navi_right
{
  width: 50%;
  text-align: right;
}

td.page_navi_bottom
{
  text-align: center;
}

/* 非表示ブロック */
div.noconvert, div.no_convert
{
  border-style: solid;
  border-width: 2px;
  border-color: #cceeff;
  border-radius: 6px;
  padding: 4px;
}

div.noconvert:before, div.no_convert:before
{
  content: "非表示ブロック";
  font-style: normal;
  font-weight: bold;
  color: #999999;
  background-color:#ffffcc;
  border-style: dotted;
  border-color: #cccccc;
  border-radius: 3px;
  padding: 4px;
  display: block;
  text-align: center;
}

div.noconvert:after, div.no_convert:after
{
}

/* ステータスマクロ */
span.status_macro_base
{
  display: inline-block;
  background-color: #cccccc;
  border: 1px solid #cccccc;
  color: #333333;
  padding: 3px 5px 2px;
  min-width: 76px;
  border-radius: 3px 3px 3px 3px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

span.status_macro_Grey
{
  background-color: #cccccc;
  border-color: #cccccc;
  color: #333333;
}

span.status_macro_outline_Grey
{
  background-color: #ffffff;
  border-color: #cccccc;
  color: #333333;
}

span.status_macro_Red
{
  background-color: #d04437;
  border-color: #d04437;
  color: #ffffff;
}

span.status_macro_outline_Red
{
  background-color: #ffffff;
  border-color: #f8d3d1;
  color: #d04437;
}

span.status_macro_Yellow
{
  background-color: #ffd351;
  border-color: #ffd351;
  color: #594300;
}

span.status_macro_outline_Yellow
{
  background-color: #ffffff;
  border-color: #ffe28c;
  color: #594300;
}

span.status_macro_Green
{
  background-color: #14892c;
  border-color: #14892c;
  color: #ffffff;
}

span.status_macro_outline_Green
{
  background-color: #ffffff;
  border-color: #b2d8b9;
  color: #14892c;
}

span.status_macro_Blue
{
  background-color: #4a6785;
  border-color: #4a6785;
  color: #ffffff;
}

span.status_macro_outline_Blue
{
  background-color: #ffffff;
  border-color: #e4e8ed;
  color: #4a6785;
}

/* ページツリーマクロ */
ul.PageTree ul
{
  margin-top: 8px;
  margin-bottom: 0px;
}

/* 画像の寄せに対応 */
img.image-left
{
  float: left;
  margin: 0px 10px 10px 0px;
}

img.image-center
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.image-right
{
  float: right;
  margin: 0px 0px 10px 10px;
}

/* 2015/03/05 TableCell Highlighted */
TABLE.table th.highlight-grey, TABLE.table td.highlight-grey
{
  background-color: #f0f0f0;
}
TABLE.table th.highlight-red, TABLE.table td.highlight-red
{
  background-color: #ffe7e7;
}
TABLE.table th.highlight-green, TABLE.table td.highlight-green
{
  background-color: #ddfade;
}
TABLE.table th.highlight-blue, TABLE.table td.highlight-blue
{
  background-color: #e0f0ff;
}
TABLE.table th.highlight-yellow, TABLE.table td.highlight-yellow
{
  background-color: #ffffdd;
}

