@charset "utf-8";

/* 目次タブ */
DIV#globalindex_tab
{
/*
  border-bottom-right-radius: 8px;
*/
}

/* ページ内目次タブ */
DIV#autoindex_tab
{
  border-bottom-left-radius: 8px;
}

/* 目次タブ内のタイトル */
DIV#toc_title
{
  border-radius: 4px;
}

/* 表紙のタイトル */
DIV.doc_title
{
}

/* 注意事項 */
DIV.warning
{
  border-radius: 4px;
/*   box-shadow: rgba(0,0,0,0.1) 1px 1px; */
}

/* 補足情報 */
DIV.notice
{
  border-radius: 4px;
/*   box-shadow: rgba(0,0,0,0.1) 1px 1px; */
}

DIV.info_new,
DIV.note_new,
DIV.warn_new
{
  border-radius: 4px;
/*   box-shadow: rgba(0,0,0,0.1) 1px 1px; */
}

