@charset "utf-8";

/* ------------------------------------------------------ */
DIV#search_title
{
  margin            : 8px 0px 8px 0px;
  border-color      : gray;
  border-style      : solid;
  border-width      : 4px 0px 4px 0px;
  padding           : 8px 1em 8px 1em;
  font-size         : 28px;
  background-color  : #eeeeff;
}

DIV#search_noscript
{
  margin            : 8px 1em 8px 1em;
  border-color      : red;
  border-style      : solid;
  border-width      : 2px 2px 2px 2px;
  padding           : 8px 1em 8px 1em;
  font-size         : 120%;
  font-weight       : bold;
  line-height       : 120%;
}

DIV#search_hint
{
  margin            : 8px 1em 8px 1em;
  border-color      : gray;
  border-style      : solid;
  border-width      : 1px 1px 1px 1px;
  padding           : 8px 1em 8px 1em;
  font-size         : 100%;
  /*
  line-height       : 120%;
  */
}

DIV#search_box
{
  margin            : 1em 0px 0px 0px;
  border-color      : gray;
  border-style      : solid;
  border-width      : 0px 0px 0px 0px;
  padding           : 0px 1em 0px 1em;
}

FIELDSET.search_fieldset
{
  padding           : 4px;
}

INPUT.search_query
{
  width             : 90%;
}

INPUT.search_button
{
}

DIV#search_message
{
  padding           : 8px 1em 8px 1em;
}

HR.search_message_line
{
  margin            : 8px 0px 8px 0px;
  border-color      : gray;
  border-style      : double;
  border-width      : 4px 0px 0px 0px;
}

DIV#search_result
{
  margin            : 0px 1em 0px 1em;
  padding           : 0px 0px 0px 0px;
}

P.search_result_title
{
  margin            : 0px 0px 0px 0px;
  padding           : 4px 8px 4px 8px;
  border-color      : grey;
  border-style      : solid;
  border-width      : 1px 1px 1px 1px;
  background-color  : #eeeeff;
}

P.search_result_title A
{
  font-size: 120%;
}

P.search_result_line
{
  margin            : 1px 0px 1em 0px;
  padding           : 8px 1em 8px 1em;
  border-color      : grey;
  border-style      : solid;
  border-width      : 1px 1px 1px 1px;
}

DIV.searchbox_mini_div
{
  margin            : 8px 0px 0px 0px;
  border-color      : gray;
  border-style      : solid;
  border-width      : 0px 0px 0px 0px;
  padding           : 8px 0px 0px 0px;
  display           : block;
}

INPUT.searchbox_mini_text
{
  width             : 75%;
}

INPUT.searchbox_mini_button
{
}

SPAN.search_highlight
{
/*
  font-weight       : bold;
  font-style        : italic;
  color             : red;
*/
  background-color  : #ffee00;
}

IMG.search_highlight
{
  border-style  : solid;
  border-width  : 2px;
  border-color  : #ffee00;
  background-color  : #ffee00;
}


