div.searchBox
{
    margin: 2em;
    border: solid 2px #5782D1;
    padding: 2em;
}
div.searchResult
{
    margin: 2em;
    border: solid 2px #5782D1;
    padding: 2em;
}
div.resultRegion
{
    margin-left: 4em;
}
div.arrow
{
    text-align: center;
    font-weight: 900;
    color: #5782D1;
    font-size: 1.2em;
}
#resultMessage
{
}
#resultInfo
{
    display: none;
    margin-top: 1em;
    width: 30em;
}
#resultInfo th
{
}
#resultInfo td
{
}
#parentResults table
{
    border: 1px #808080 solid;
}
#parentResults th
{
    border: 1px #808080 solid;
}
#parentResults td
{
    border: 1px #808080 solid;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}